In [34]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine
import psycopg2

# from config import db_password

import time

# 1. Create a function that takes in three arguments;
# Wikipedia data, Kaggle metadata, and MovieLens rating data (from Kaggle)

def extract_transform_load():
    
#2. Read in the kaggle metadata and MovieLens ratings CSV files as Pandas DataFrames.

    kaggle_metadata = pd.read_csv("/Users/savannahestridge/Desktop/class/Movies-ETL/movies_metadata.csv")
    
    ratings = pd.read_csv("/Users/savannahestridge/Desktop/class/Movies-ETL/ratings.csv")

    
#     # 3. Open the read the Wikipedia data JSON file.
    
    with open(f'{file_dir}/wikipedia-movies.json', mode='r') as file:
        wiki_movies_raw = json.load(file)
    
#     # 4. Read in the raw wiki movie data as a Pandas DataFrame.
    
    wiki_movies_df = pd.DataFrame(wiki_movies_raw)
    wiki_movies_df.head(2)
    
#     # 5. Return the three DataFrames
    return wiki_movies_df, kaggle_metadata, ratings

# 6 Create the path to your file directory and variables for the three files. 
file_dir = '/Users/savannahestridge/Desktop/class/Movies-ETL'
    
 # Wikipedia data
wiki_file = f'{file_dir}/wikipedia-movies.json'
    
# Kaggle metadata
kaggle_file = f'{file_dir}/movies_metadata.csv'
    
    # MovieLens rating data.
ratings_file = f'{file_dir}/ratings.csv'


#7. Set the three variables in Step 6 equal to the function created in Step 1.
    
wiki_file, kaggle_file, ratings_file = extract_transform_load()

/Users/savannahestridge/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:54: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.

In [35]:
# 8. Set the DataFrames from the return statement equal to the file names in Step 6. 
wiki_movies_df = wiki_file
kaggle_metadata = kaggle_file
ratings = ratings_file

In [39]:
# 9. Check the wiki_movies_df DataFrame.
wiki_movies_df.head(1)

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Predecessor,Founders,Area served,Products,Services,Russian,Hebrew,Revenue,Operating income,Polish
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990.0,https://www.imdb.com/title/tt0098987/,The Adventures of Ford Fairlane,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# 10. Check the kaggle_metadata DataFrame.
kaggle_metadata.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [30]:
# 11. Check the ratings DataFrame.
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556